# === Java ===
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.bak
*.old
*.orig

# === Eclipse ===
bin/
.metadata/
*.tmp
*.bak
*.swp
*.swo
*.launch
*.classpath
*.project
*.settings/

# Keep the following if you want to share Eclipse project settings
#!.classpath
#!.project
#!.settings/

# === OS files ===
.DS_Store         # macOS
Thumbs.db         # Windows
ehthumbs.db
Desktop.ini

# === IDEs ===
.idea/            # IntelliJ
*.iml
*.xml
.vscode/          # VS Code
s
# === Maven ===
.mvn/
target/s
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# === Gradle ===
.gradle/
build/

# === Other ===
hs_err_pid*
replay_pid*
